<%= form_with(model: [article, comment] ) do |form| %>
  <div class="form-group">
    <%= form.text_area :content, class: 'form-controll' %>
  </div>
  <div class="actions">
    <%= form.submit "コメントをする" %>
  </div>
<% end %>