<div class="d-flex align-items-center">
  <h1>編集</h1>
  <div class="ml-auto posts_button">
      <a class="btn btn-outline-info" href="/articles">投稿一覧</a>
  </div>
</div>
<%= render partial: "form", locals: { article: @article } %>