<h1>ユーザー一覧</h1>

<div class="container">
  <div class="row card-columns">
    <% @users.each do |user| %>
    <div class="card col-md-4">
      <%= link_to user do %>
      <div class= 'card-body' %>
        <p class="card-title"><%= user.username %></p>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>