/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import "base";
@import "articles";

header{
    display: block;
    width: 90%;
    margin: auto;
    overflow: hidden;
    border-bottom: 1px solid;
    margin-bottom: 3%;
    background-color: #fffef8;
    
}
.header-top{
    font-size: 120%;
    color: #313131;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border:1px solid #313131;
    border-radius: 5px;
    letter-spacing: 3px;
    font-weight: 400;
    float: left;
}

.body-background{
    background-color: white;
    padding: 10px;
    border: 1px solid #eee;
}

.link{
    font-size: 100%;
    color: #313131;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    float: right;
    font-weight: 400;
}

.links{
    display: inline-block;
    color: #313131;
    margin: 8px;
}



body{
  background-color: #fffef8;
  font-family: "游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,"ＭＳ Ｐゴシック",sans-serif;
}

.copy-right {
  margin-top: 10px;
  margin-bottom: 3px;
  text-align: center;
  color: #fff;
  font-size: 12px;
}

footer{
    font-size: 80%;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    margin-top: 30px;
    padding-bottom: 10px;
    background-color: #313131;
}

footer address{
    color: #fff;
    letter-spacing: 5px;
}