// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.index{
    font-size: 30px;
}

.index-card{
    background: #fcfcfc;
    border: 1px solid #313131;
    margin: 15px 0px;
}

.paginate{
    margin-top: 1%;
}

.search{
    margin-top: 1rem;
    margin-bottom: 0;
}

.search-input{
    margin-bottom: 3%;
}

.article-title{
    color: #313131;
}

.created-at{
    color: #313131;
}

.articles_button {
    a {
        margin: 0 8px;
    }
}

.articles_table {
    tr:hover {
        cursor: pointer;
    }
}

.article-list-image{
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.article-image{
    width: 100%;
    height: 350px;
    object-fit: cover;
    margin-top: 1rem;
}

.article-block{
    margin: 10px;
}

.relative{
    position: relative;
    
    i {
        position: absolute;
        top: 45%;
        left: 47%;
        color: white;
        font-size: 60px;
    }
}

#article_image {
    display: none;
}

.comment {
    margin: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.margin-bottom-0 {
    margin-bottom: 0;
}

.font-color{
    color: #313131;
}

.cf-skin {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #eee;
}