// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.articles_button {
    a {
        margin: 0 8px;
    }
}

.articles_table {
    tr:hover {
        cursor: pointer;
    }
}

.article-list-image{
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.article-image{
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.article-block{
    margin: 10px;
}

.relative{
    position: relative;
    
    i {
        position: absolute;
        top: 45%;
        left: 47%;
        color: white;
        font-size: 60px;
    }
}

#article_image {
    display: none;
}
